<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tabbleview下拉图片变大.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2372D2171CBD331E004D1518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2372D2301CBD331E004D1518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2372D23B1CBD331E004D1518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
